<h2>Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :gender %> <i>(optional)</i><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label "Pronouns" %> <i>(defaults to they/them/etc. if not specified)</i><br />
    <div class="row collapse example">
      <div class="small-2 columns">
        <%= "#{resource.pronoun_subject.capitalize} made it." %>
      </div>
      <div class="small-2 columns">
        <%= "It belongs to #{resource.pronoun_object}." %>
      </div>
      <div class="small-2 columns">
        <%= " #{resource.pronoun_adjective.capitalize} profile." %>
      </div>
      <div class="small-2 columns">
        <%= "It's #{resource.pronoun_possessive}." %>
      </div>
      <div class="small-4 columns">
        <%= "#{resource.display_name} did it #{resource.pronoun_reflexive}." %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 columns">
        <%= f.text_field :pronoun_subject %>
      </div>
      <div class="small-2 columns">
        <%= f.text_field :pronoun_object %>
      </div>
      <div class="small-2 columns">
        <%= f.text_field :pronoun_adjective %>
      </div>
      <div class="small-2 columns">
        <%= f.text_field :pronoun_possessive %>
      </div>
      <div class="small-4 columns">
        <%= f.text_field :pronoun_reflexive %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
