<div class="form">
  <%= form_for @venue do |f| %>
    <%= f.label :name %>*
    <%= f.text_field :name %>

    <div class="address-fields">
      <%= f.label :street_address %>*
      <%= f.text_field :street_address %>

      <%= f.label :city %>*
      <%= f.text_field :city %>

      <%= f.label :state %>*
      <%= f.text_field :state %>

      <%= f.label :zip_code %>*
      <%= f.text_field :zip_code %>
    </div>

    <%= f.label :website %>
    <%= f.text_field :website %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>

    <%= f.label :summary, "Short description" %>*
    <%= f.text_field :summary %>

    <%= f.label :description, "Long description" %>
    <%= f.text_area :description %>

    <%= f.submit "Submit" %>
  <%- end -%>
  <p>*Required</p>
</div>
