<div class="form">
  <%= form_for @venue do |f| %>
  <div class="small-12 medium-7 columns">
    <%= f.label :name %>*
    <%= f.text_field :name %>

    <div class="address-fields row collapse">
      <div class="small-12 columns">
        <%= f.label :street_address %>*
        <%= f.text_field :street_address %>
      </div>
      <div class="small-7 columns">
        <%= f.label :city %>*
        <%= f.text_field :city %>
      </div>
      <div class="small-2 columns">
        <%= f.label :state %>*
        <%= f.text_field :state %>
      </div>
      <div class="small-3 columns">
        <%= f.label :zip_code %>*
        <%= f.text_field :zip_code %>
      </div>
    </div>

    <%= f.label :website %>
    <%= f.text_field :website %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>

    <%= f.label :summary, "Short description" %>*
    <%= f.text_field :summary %>

    <%= f.label :description, "Long description" %>
    <%= f.text_area :description %>

    <% if @venue.id.nil? %>
      <%= f.submit "Submit" %>
    <% elsif !@venue.id.nil? && current_page?(edit_venue_path(@venue)) %>
      <%= f.submit "Save and Approve" %>
    <% end %>

    <h6>*Required</h6>
  </div>
  <div class="small-12 medium-5 columns">
    <h5>Categories</h5>
    <%= f.collection_check_boxes :category_ids,
      @categories,
      :id,
      :name do |b| %>
      <div class="category-check-box small-6 columns">
        <%= b.label { b.check_box + " " + b.text }%>
      </div>
    <% end %>
  </div>
  <%- end -%>
</div>
