<div class="venue-info small-12 medium-6 columns">
  <h3><%= @venue.name %></h3>
  <ul>
    <li><%= @venue.full_address %></li>
    <% unless @venue.phone_number.blank? %>
      <li><%= @venue.phone_number %></li>
    <% end %>
    <% unless @venue.website.blank? %>
      <li><%= @venue.website %></li>
    <% end %>
    <li><%= @venue.summary %></li>
    <% unless @venue.description.blank? %>
      <li><%= @venue.description %></li>
    <% end %>
    <% unless @categories.length == 0 %>
      <li>Categories:
      <% @categories.each do |category| %>
        <%= category.name %>
      <% end %>
      </li>
    <% end %>
    <% if @venue.reviews.count >= 2 %>
      <li>
      <%= "#{@venue.overall_average}
      #{@venue.average_rating(:terminology)}
      #{@venue.average_rating(:bathrooms)}
      Based on #{@venue.reviews.count} reviews."%></li>
    <% end %>
  </ul>
</div>

<div class="map small-12 medium-6 columns">
  <h5>Map</h5>
  <iframe
    frameborder="0" style="border:0"
    width="100%"
    height="200px"
    src="https://www.google.com/maps/embed/v1/place?key=<%=
      ENV['GOOGLE_MAPS_KEY'] %>&q=<%=
      @venue.full_address %>" allowfullscreen>
  </iframe>
</div>

<div class="reviews small-12 columns">
  <h5>Reviews</h5>
  <%= link_to 'Add Review', new_venue_review_path(@venue) %>

  <ul>
    <% if @venue.reviews.length == 0 %>
      <li>There are no reviews yet.</li>
    <% else %>
      <% @venue.reviews.each do |review| %>
        <li><%= "#{review.overall} points overall. #{review.comment} - #{review.user.display_name}" %></li>
      <% end %>
    <% end %>
  </ul>
</div>
