<h3><%= @venue.name %></h3>
<div class="venue-info">
  <ul>
    <li><%= @venue.full_address %></li>
    <% unless @venue.phone_number.blank? %>
      <li><%= @venue.phone_number %></li>
    <% end %>
    <% unless @venue.website.blank? %>
      <li><%= @venue.website %></li>
    <% end %>
    <li><%= @venue.summary %></li>
    <% unless @venue.description.blank? %>
      <li><%= @venue.description %></li>
    <% end %>
    <% if @venue.reviews.count >= 2 %>
      <li>
      <%= "#{@venue.overall_average} out of 5 overall.
      #{@venue.average_rating_terminology} out of 5 staff terminology.
      #{@venue.average_rating_bathrooms} out of 5 bathrooms.
      Based on #{@venue.reviews.count} reviews."%></li>
    <% end %>
  </ul>
</div>

<div class="reviews">
  <h5>Reviews</h5>
  <%= link_to 'Add Review', new_venue_review_path(@venue) %>

  <ul>
    <% if @venue.reviews.length == 0 %>
      <li>There are no reviews yet.</li>
    <% else %>
      <% @venue.reviews.each do |review| %>
        <li><%= "#{review.overall} points overall. #{review.comment} - #{review.user.display_name}" %></li>
      <% end %>
    <% end %>
  </ul>
</div>
