<div class="rating">
  <%= form_for [@business, @review] do |f| %>
    <h5>Please fill out applicable sections, based on your visit:</h5>

    <h6>Do staff refer to customers with genered terms?</h6>
    <%= f.select :terminology, options_for_select(Review.terminology_options),
      prompt: true %>

    <h6>What's the deal with bathrooms?</h6>
    <%= f.select :bathrooms, options_for_select(Review.bathroom_options),
      prompt: true %>

    <h6>Do you know any openly trans or non-binary people who work there?</h6>
    <%= f.radio_button :gv_staff, true %>
    <%= f.label :gv_staff, "Yes", value: true %>
    <%= f.radio_button :gv_staff, false %>
    <%= f.label :gv_staff, "No", value: false%><

    <h6>How was your experience overall? (1 - Terrible, 5 - Awesome!)*</h6>
    <% (1..5).each do |rating_value| %>
      <%= f.radio_button :overall, rating_value %>
      <%= f.label :overall, rating_value, value: rating_value %>
    <% end %>

    <h6>Comment*</h6>
    <%= f.text_area :comment %>

    <%= f.submit "Add Review" %>
  <%- end -%>
  *Required
</div>
